input::-webkit-input-placeholder {
	color: black;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: black;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: black;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: black;
}

input::-ms-input-placeholder {
	text-align: center;
	text-indent: -10em
}

input::-webkit-input-placeholder {
	text-align: center;
	text-indent: -10em
}

.giveBottom .multi-select-container{
    margin-left: 17px;
    margin-top: 0px;
}

.giveBottom .multi-select-menu{
    margin: 2.2em 0em !important;
    min-width: 100% !important;
}

.giveBottom .multi-select-menuitem{
padding:1.6em 0em 0.6em 31px !important
}


.wantPonitShortcuts{
    background-color: rgba(114, 207, 251, 0.12);
    border-radius: 10px;
    box-shadow: 4px 1px 11px 0px rgba(143, 209, 228, 0.38);
    color: #1e94c3;
}


.giveBottom .multi-select-button {
	padding: 12px 0.6em;
	max-width: 100% !important
}

.giveBottom .multi-select-menuitems label:last-child input{
	display:block!important;
}


.serachFocus {
	animation: serachAnimation 2.5s infinite;
	color: #72afd2 !important;
}

.infoCenter {
	margin-bottom: 8px;
}

.noFloat {
	float: none;
}

.versionInfo {
	text-align: center;
	margin-top: 1%;
}

.minH {
	min-height: 730px;
}

.UserNameInTable,
.currentId,
.noneStart,
.tableArea,
.removeChoosedNews,
.newsModifyArea {
	display: none;
}

.allShortcuts {
	overflow: hidden;
}

.bacimg {
	width: 104px;
	height: 89px;
	position: relative;
	float: left;
	margin-right: 2%;
	margin-bottom: 4%;
	margin-top: 1%;
	margin-left: 2%;
	text-align: center;
}

.bacimg img {
	width: 104px;
	height: 89px;
}

.cover {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(80, 79, 79, 0.72);
	color: #fdfdfd;
	opacity: 0.6;
	bottom: 0;
	font-size: 15pt;
	text-align: center;
	line-height: 88px;
	font-weight: 600;
}

.bacimg p {
	margin-top: 4%;
	background: url(../images/line1.png) center center no-repeat;
}

.bacimg h2 {
	margin-top: 4%;
}

.bacimg p a {
	color: #1f7cb6;
	line-height: 17px;
	text-align: center;
}

.bacimg p a:hover {
	color: #F60;
}

.imgSha {
	box-shadow: 1px 2px 20px 0px rgba(72, 74, 74, 0.7215686274509804);
}

.choosedShortcutsIcon {
	width: 46px;
}

.choosendShortcuts li {
	min-width: 112px;
	padding: 5px;
}

/* .choosendShortcuts li:hover {
	border: 1px rgba(5, 85, 103, 0.16862745098039217) dashed;
} */

.myTableStyle .th-inner {
	line-height: inherit !important;
}

/*.fixed-table-container tbody .selected td {
  background-color: red !important;
}*/

.myTableStyle td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100px;
}

.tablelist>thead>tr>th {
	border-bottom: solid 1px #b6cad2 !important;
	text-align: left !important;
	text-indent: 19px !important;
}


.tablelist thead th {
	border-left: none !important
}

.fixed-table-container {
	border: none !important;
}

.tablelist>tbody>tr>td {
	border-top: none !important;
	border-bottom: none !important;
	border-left: none !important;
	border-right: dotted 1px #c7c7c7 !important;
}


.table-striped>tbody>tr:nth-child(odd)>td {
	background-color: #f5f8fa !important;
}

.tablelist>tbody>tr>td {
	line-height: 3.5 !important;
}

.culturePlanVerifyTableArea  .fixed-table-toolbar {
	/*
	margin-top: -3% !important;*/
}

.tablelist tbody td:first-child,
.th-inner {
	/* padding-top: 1.3% !important;
	padding-right: 1% !important;
	padding-left: 0.5% !important; */
	/* padding-top: 0px !important; */
	padding-right: 22px !important;
	padding-left: 13px !important;
}

/*表格单个操作*/
#xnTable td:last-child,
#taskApprovalTable td:last-child,
#courseLibraryApprovalTable td:last-child,
#generatCourseTable td:last-child,
#culturePlanVerifyTable td:last-child {
	width: 110px;
	min-width: 110px;
}

/*表格多个操作*/
#approvalMangerTable td:last-child,
#localInfoTable td:last-child,
#teacherBaseInfoTable td:last-child,
#courseLibraryTable td:last-child,
#administrationClassTable td:last-child,
#studentBaseInfoTable td:last-child,
#majorTrainingTable td:last-child,
#allRoleTable td:last-child,
#releaseNewsTable td:last-child,
#allUserTable td:last-child{
	width: 234px;
	min-width: 234px;
}

/*表格2个操作 按钮字数不超过2个*/
.actionChangeLastTD,
#kjTable td:last-child,
#putOutTaskTable td:last-child,
#teachingClassTable td:last-child
#relationTable td:last-child,
#allMajorTable td:last-child,
#allGradeTable td:last-child,
#allDepartmentTable td:last-child,
#allLevlTable td:last-child ,
#allRoleTable td:last-child{
	width: 165px;
}

/*审批表按钮样式控制*/
#approvalMangerTable td:last-child{
	width: 247px;
	min-width: 247px;
}


.actionChangeLastTD{
	width: 165px!important;
}

#putOutTaskTable td:last-child{
	min-width: 175px;
}

@media screen and (max-width:1458px) {
	#teachingClassTable td:last-child {
		min-width: 137px;
	}
}

/*表格2个操作 按钮字数超过2个*/
#classManagementTable td:last-child {
	min-width: 160px;
}

@media screen and (max-width:1458px) {
	#classManagementTable td:last-child {
		min-width: 281px;
	}
}


.blue {
	color: #056dae;
	font-style: normal;
}

.searchIcon {
float: left;
    margin-left: -14%;
    margin-top: 2%;
}

.tabletoolbar li span {
	float: left;
	margin-left: -8px;
	margin-right: -7px;
	margin-top: 5px;
}

.tabletoolbar li {
	margin-top: 3px;
}

.mycheckbox {
	padding-left: 0px !important;
}

.newsInfoArea .select-mania-arrow,
.newsDetailsArea .select-mania-arrow {
	color: rgb(5, 112, 123) !important;
}

.newsInfoArea .select-mania-item-text,
.newsDetailsArea .select-mania-item-text {
	text-align: center !important;
}

.newsInfoArea .select-mania-values,
.newsDetailsArea .select-mania-values {
	text-align: center !important;
	text-indent: 18px;
}

.newsInfoArea .select-mania,
.newsDetailsArea .select-mania {
	width: 50% !important;
}

.selectArea {
	width: 100%;
	margin-bottom: 20px;
}

.selectName,
.newsInfoArea .select-mania,
.newsDetailsArea .select-mania {
	float: left !important;
}

.newsInfoArea .selectName,
.newsDetailsArea .selectName {
	line-height: 40px;
	padding-right: 15px;
	font-weight: bold;
}

.newsInfoArea .select-mania,
.newsDetailsArea .select-mania {
	margin-bottom: 20px !important;
}

.formtext {
	text-align: left;
	padding-left: 0px;
	margin-top: 2%;
}

.tip b,
.searchArea b,
.newsInfoArea b,
.newsDetailsArea b {
	color: red;
}

.myInput {
	width: 58% !important;
	margin-left: -33.5% !important;
	min-height: 44px;
	background-color: rgba(183, 215, 232, 0.050980392156862744);
	border: 1px solid rgba(211, 234, 241, 0.07058823529411765);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: inset -1px -1px 3px 0px rgba(27, 96, 130, 0.31);
}

.Mydfinput{
	width: 80% !important;
}

.tableInput {
	width: 88% !important;
	background-color: rgba(183, 215, 232, 0.050980392156862744);
	border: 1px solid rgba(211, 234, 241, 0.07058823529411765);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: inset -1px -1px 3px 0px rgba(27, 96, 130, 0.31);
}

.searchInput {
	width: 70% !important;
	margin-left: 2.5% !important;
	text-indent: 13px;
}

.manyInfoInput {
    width: 70% !important;
    margin-left: -1% !important;
    text-indent: 13px;
    color: #636363;
    font-weight: 600;
}


/*拆班表的多选select*/
.multi-select-container {
	position: absolute !important;
}

.multi-select-container {
	    margin-left: -1.5%;
    margin-top: -2px;
}

.multi-select-button {
	max-width: 103px !important;
}

.multi-select-menu {
	margin: 3.2em 1em !important;
	min-width: 88% !important;
}

.multi-select-menuitem input {
	margin-left: -20px !important;
}

.fixed-table-container input[type="checkbox"] {
	margin:15px -24px auto !important;
}

.multi-select-menuitems label:last-child input {
	display: none;
}

.multi-select-menuitem {
	padding: 0.6em 1em 0.6em 20px !important;
}

/*拆班表的多选select end*/
.colInput::-webkit-input-placeholder,
.combinedClassTipInput::-webkit-input-placeholder,
.allWidthInput::-webkit-input-placeholder,
.searchInput::-webkit-input-placeholder,
.manyInfoInput::-webkit-input-placeholder {
	/* placeholder颜色  */
	color: #aab2bd;
	/* placeholder字体大小  */
	font-size: 12px;
	/* placeholder位置  */
	text-align: left;
	text-indent: 10px;
}

.submitBtn {
	float: left;
	margin-top: 25px;
}

.submitBtn:hover {
	color: white !important;
	letter-spacing: 6px;
}

.tipTxt {
	float: left;
	width: 100%;
	margin-top: 0.5%;
	margin-bottom: -5%;
	color: rgba(128, 128, 128, 0.7098039215686275);
}

.newsDetailsTip {
	width: 65% !important;
	height: 0px;
	min-height: 260px !important;
	top: 10% !important;
	left: 15% !important;
}

.newsDetailsbtn {
	margin-top: 5%;
	margin-bottom: 5%;
}

.newsDetailsInfo {
	padding-left: 2%;
}

.singleTipBtn {
	margin-left: 59%;
}

.tipCite {
	float: left;
	padding-left: 17px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
}

.kjTableArea .search,
.allMajorTableArea .search,
.allGradeTableArea .search,
.allDepartmentTableArea .search,
.xnTableArea .search,
.allMajorTable .search,
.allGradeTable .search,
.allLevlTableArea .search,
.allDepartmentTable .search{
	margin-top:-40px !important;
    margin-bottom: 0px;
}



.majorTrainingTableArea .search {
	    margin-top: 2px !important;
}

.majorTrainingTableArea .columns{
    margin-left: 9px;
    margin-top: 1px;}

.culturePlanVerifyTableArea .search {
	  /* margin-top: 160px !important;*/  
}

.classManagementTableArea .search
,.localInfoTableArea .search {
	margin-top: 11px !important;
}

.breakClassTableArea .search {
  margin-top: 10px !important;
    margin-right: 1%;
    margin-bottom: 3px;
    float: right !important;
}

.allClassTableArea .search {
	margin-top: -50px !important;
	margin-left: 68%;
}

.generatCourseArea .search {
	margin-top: 10px !important;
    margin-bottom: 0px;
}

.studentTableArea .search {
	margin-top: 5px !important;
}

.tableArea .search,.tableArea .columns {
    margin-top: -42px !important;
}

.teacher_studentInfoTableArea .search {
    margin-top: 2px !important;
    left: 2%;
}

.majorTrainingTableArea .columns {
    margin-top: 1px!important;
}

.myTableSelect {
	width: 95%;
	min-height: 30px;
	border-radius: 7px;
	margin-top: 6px;
	padding: 10px;
	display: none;
}

.scheduleClassesTableArea .myTableSelect{
	margin-left: -7%;
}

.myTableSelect:focus {
	outline: white;
}

.removeUsersArea {
	float: left;
}

.haveTextBg {
	background-image: url(../images/ulist.png);
	background-repeat: no-repeat;
	background-position-x: right;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.haveTextBg span {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	color: rgba(3, 70, 128, 0.8588235294117647);
}

.authorityGroupArea .multi-select-container{
	    margin-left: -2px!important;
}

.authorityGroupArea .multi-select-menuitem input{
	       margin-top: 0.9em!important;
}

.newUserAuthority .select-mania {
	margin-left: 20px !important;
	margin-top: 1px !important;
	margin-bottom: 1% !important;
	width: 350px !important;
}

.authorityGroupArea .select-mania{
	margin-left: 7px !important;
	margin-top: 1px !important;
	margin-bottom: 1% !important;
	width: 350px !important;
}

.Index_authorityGroupArea .select-mania {
	margin-left: 0px !important;
	margin-top: -5px !important;
	margin-bottom: -2% !important;
	width: 175px !important;
}

.searchAreaWitheSelect .select-mania {
	margin-left: 11px !important;
	margin-top: 1px !important;
	margin-bottom: 1% !important;
	width: 70% !important;
}

.moreInfoSelectStyle .select-mania {
	margin-left: 1px !important;
	margin-top: 1px !important;
	margin-bottom: 1% !important;
	width: 68% !important;
	color: #636363;
    font-weight: 600;
}

.myformtext {
	text-align: center;
	margin-top: -45px;
}

.myformtextTipArea b:not(:first-child){
	margin-left: 36px;
}

.col4 {
	width: 25%;
	float: left;
}
.col3{
	width: 33.3333%;
	float: left;
}

.col2{
	width: 49%;
	float: left;
}

.myTabson {
	margin-top: 7px !important;
}

.giveBottom {
	margin-top: 3px;
	margin-bottom: 9px;
}

/*
.manyInfoShow {
	width: 984px;
	height: auto;
	position: absolute;
	left: 17%;
	padding-bottom: 15px;
	margin-top: -5%;
}
*/

.manyInfoShow {
	height: auto;
	padding-left: 2%;
	margin: 0px 29px;
	margin-bottom: 15px;
}



.tipAUTOheight {
	height: auto;
}

.manyInfoShow2 {
	margin: 0 auto;
	left: 0px;
	margin-top: 12px;
	position: relative;
}

.manyInfoShow .tipbtn {
	margin-top: 2% !important;
	margin-left: 39% !important;
	float: left;
}

.manyInfoShow .tiptop {
	margin-bottom: 9px;
}


.manyInfoShow .col4 {
	min-width: 240px !important;
	margin-bottom: 5px;
}

.manyInfoShow .selectName {
	    width: 67px;
    color: #3c3b3b;
    font-weight: 500;
    font-family: fantasy;
        margin-top: 14px;
	text-align: left;
}

.selectName {
	width: 20%;
}


.MyspinnerStyle .input-group input {
	    width: 53% !important;
	    color: #5f5d5d;
    font-weight: 500;
}

.manyInfoShowIntipInput {
	margin-left: 0.5% !important;
	width: 66% !important;
}

.MyspinnerStyle {
	margin-bottom: 10px;
}

.MyspinnerStyle .input-group-prepend,
.MyspinnerStyle .input-group-append,
.MyspinnerStyle span {
	float: left;
}

.MyspinnerStyle .btn {
	width: 10px;
}

.MyspinnerStyle input {
	float: left;
	width: 146px;
	text-align: center;
}

.TipXline {
	margin-bottom: 5px;
	border-bottom: solid 4px #dfe9ee;
	width: 78%;
	margin-left: 10%;
	margin-top: 5px;
}

.myformtext {
	text-align: left;
	padding-left: 0px;
	margin-top: 0px;
	padding-top: 11px;
}

.showHideInfoAreaBtn {
	padding-top: 5px;
}

.inputChangLink {
	color: rgb(36, 118, 189);
	width: 95%;
	background: rgba(249, 248, 247, 0);
	text-align: left;
	outline: none;
}

.inputChangLink:hover {
	color: darkgoldenrod;
}

.col1 {
	width: 100%;
	margin-bottom: 9px;
}

.combinedClassTipinfo {
	height: auto;
}

.allWidthInput {
	    width: 378px !important;
    margin-left: 10px !important;
    text-indent: 13px;
    color: #636363;
    font-weight: 600;
}

@media screen and (max-width:780px) {
	.allWidthInput {
		    width: 58% !important;
	}
}

.colInput {
	width: 79.5%!important;
	margin-left: 0px !important;
	text-indent: 13px;
	color: #636363;
    font-weight: 600;
}

.allCheckAction {
	padding: 10px;
}

.allCheckAction .icheck-material-blue {
	float: left;
	margin-left: 14px;
}


.stuffCheckArea label {
	font-size: 16px;
	font-weight: 400;
}

.stuffCheckArea {
	padding-left: 5%;
	padding-right: 5%;
}

.stuffCheckArea .col4 {
	height: 80px;
	max-height: 80px;
	overflow: hidden;
	overflow-y: auto;
}

.greenTxt {
	color: green;
	    line-height: 42px;
}

.normalTxt {
	color: rgba(49, 47, 47, 0.8705882352941177);
	     line-height: 42px;
}

.redTxt {
	color: #d70101;
	       line-height: 42px;
}



.searchGivePaddingR .fixed-table-toolbar {
	padding-right: 1.8%;
}

.spelocl_R .fixed-table-toolbar {
	padding-right: 5.8%;
}

.paddingL{
	padding-left:2%;
}

.combinedClassTipInput {
	width: 70% !important;
	margin-left: -3.5% !important;
	text-indent: 13px
}

.breakClassTip .combinedClassTipInput {
	margin-left: -0.5% !important;
}

.breakClassTableArea,
.teacher_studentInfoTableArea {
	padding-left: 10px;
	padding-right: 10px;
}

.breakClassTip .tipbtn {
	margin-bottom: 15px;
}




.breakClassTip .tipinfo,
.combinedClassTip .tipinfo {
	padding-top: 8px;
}

.labelToBtn {
	float: right;
    margin-top: -34px;
    margin-right: 28%;
    padding: 7px;
    font-weight: 800;
    background: rgba(87, 149, 202, 0.9803921568627451);
    color: white;
    border-radius: 4px;
    letter-spacing: 10px;
    text-indent: 10px;
}

.labelToBtn:hover {
	color: red;
	background: rgba(31, 105, 158, 0.1803921568627451);
}

.breakClassTip .myformtext {
	padding-right: 37px;
	padding-bottom: 51px;
}

.emptyChoosedStudentCheckArea {
	padding-top: 1px;
	float: left;
}

.appointClassStudenInfoTip .tools,
.allClassMangersTip .tools{
	padding-left: 2%;
}

.studentTableArea,
.allClassMangersTableArea {
	padding-left: 2%;
	padding-right: 2%;
}

.modal-backdrop.fade {
	opacity: 0.5;
	    z-index: 9999;
}

.maskingElement {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1030;
	background-color: #000;
	opacity: 0.5;
}

.spinner-box {
	margin: 0 auto;
}

.loadingtxt {
	position: relative;
    top: 17%;
    left: -42%;
    color: #c6e6f5;
    font-size: 15px;
    font-family: initial;
}

.myTooltip {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.myTooltip:focus {
	outline: none;
}

.scheduleTableStyle thead th:first-child .th-inner {
	display: none;
}

.scheduleTableStyle .myTooltip,
.scheduleTableStyle .myTableStyle td {
	overflow: initial !important;
	text-overflow: unset !important;
	white-space: normal !important;
}

.scheduleTableStyle td {
	text-indent: 0px;
}

.teaName_teaRoom {
	margin: 0;
	padding: 0;
	display: block;
	margin-top: -13px;
}

.singleSchedule {
	border-bottom: 1px #bdb3b3 dotted;
	padding-left: 15px;
	min-height: 97px;
}

.singleSchedule:last-child {
	border-bottom: none;
}

.singleScheduleHover:hover {
	border: 1px rgba(124, 179, 226, 0.86) dotted;
	color: white;
	font-weight: 600;
	box-shadow: 10px;
	box-shadow: -1px 2px 20px 3px rgba(42, 84, 109, 0.48);
	margin-top: 5px;
	margin-bottom: 12px;
	/* 	border-radius: 30px 30px 10px 10px; */
	margin-bottom: 5px;
	border-bottom: 1px rgba(99, 91, 91, 0.7215686274509804) dotted;
	border-top: 1px rgba(99, 91, 91, 0.7215686274509804) dotted;
}

@media screen and (max-width:1230px) {
	.manytools {
		clear: both;
		margin-top: 2%;
		float: left;
		width: 100%;
		margin-bottom: 5px;
		margin-left: -4px;
	}
}

.fileErrorTxTArea .myformtext,
.tipBody .tools {
	padding-left: 10px;
	padding-right: 10px;
}


.PEC_corlor {
	background-color: rgba(68, 176, 228, 0.27);
}


.PE_corlor {
	background-color: rgba(29, 167, 12, 0.47058823529411764);
}

.MC_corlor {
	background-color: rgba(180, 191, 7, 0.5);
}

.C_Appropriates_corlor {
	background-color: rgba(243, 174, 186, 0.7490196078431373);
}

.columnsStyle .columns .btn {
	width: 75px;
}

.columnsStyle .columns .keep-open li:first-child,
.columnsStyle .columns .keep-open li:last-child {
	display: none;
}

.dateOfBrithArea .dt {
	top: 40%;
	left: 26%;
	z-index: 100;
}

.dateOfBrithArea .dt {
	top: 23%;
	left: 26%;
	z-index: 100;
}

.enterSchoolDateArea .dt {
	top: 53%;
	left: 26%;
	z-index: 100;
}

.addStudentTip .col1 {
	margin-left: 64px;
}

.file {
    position: absolute;
    display: inline-block;
    background: #D0EEFF;
    /* border: 1px solid #99D3F5; */
    border-radius: 4px;
    padding: 3px 11px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0px;
    line-height: 37px;
    float: right;
    margin-left: 54%;
    max-height: 44px;
}

.file input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
}

.file:hover {
	background: #AADFFD;
	border-color: #78C3F3;
	color: #004974;
	text-decoration: none;
}

.fileContainer {
	width: 100%;
	margin-left: 16%;
	margin-top: 3%;
}

.msgErrorbg {
	margin-right: 10px;
	width: 10px;
	margin-top: -5px;
}

.msgSuccessbg {
	margin-right: 10px;
	width: 11px;
	margin-top: -2px;
	height: 9px;
}

.fileSuccessTxTArea b {
	color: green;
}

.fileSuccessTxTArea .myformtext,
.fileErrorTxTArea .myformtext {
	text-align: center;
}

.culturePlanVerifyTableArea .columns{
   margin-left: 5px;
    margin-right: -77px;
    /*
      margin-top: 159px;
    */
  
}

.publicCodeModelArea{
	    position: fixed;
         right:0;
         top:30px;
           width:10%;
}

.spinnerInTools{
	    background: none!important;
    border: none!important;
        margin-left: 15px;
}


.publicCodeModelArea label{
    float: left;
    padding-top: 21px;
    color: #0e6baf;
    width: 35px;
}

@media screen and (max-width:1174px) {
.publicCodeModelArea{
   display:none;
}
}

.publicCodeModelArea .select-mania{
margin-left: 4px !important;
    margin-top: 16px !important;
    width: 67% !important;
}

.publicCodeCHildren{
            width:90%;
            margin:10px 0;
            cursor: pointer;
}

.content-minWidth{
	    min-width: 500px;
}

.only_col_SelectTipInfo{
	margin-left: 65px; 
    padding-top: 15px;
}

.only_col_SelectTipInfo .selectName{
	    width: 9%;
}

.only_col_SelectTipInfo .select-mania{
	width: 80% !important;
}


.fixed-table-container input[type="radio"]{
	margin: 14px auto !important;
}

.canNotModifythings{
    color: #d40101;
        float: left;
    margin-top: 13px;
    margin-left: -82px;
    }
    
    
.fileLoadingArea{
	    margin-left: -50px;
}    
    
.fileLoadingArea .spinner-box{
	    height: 45px;
	    width: 370px;
	    margin: 0px 44%;
}    

.fileLoadingArea .loadingtxt{
      position: relative;
    top: 55%;
    left: -28%;
    color: gray;
    font-size: 13px;
    font-family: initial;
    width: 100%;
}

.datetimepicker .prev,.datetimepicker .prev:hover{
	background-image: url(../images/uew_icon_hover.png)!important;
	background-repeat: no-repeat!important;
	background-position: center!important;
	transform: rotate(90deg)!important;
	-ms-transform: rotate(90deg)!important; /* IE 9 */
	-moz-transform: rotate(90deg)!important; /* Firefox */
	-webkit-transform: rotate(90deg)!important; /* Safari 和 Chrome */
	-o-transform: rotate(90deg)!important; /* Opera */
}

.datetimepicker .next,.datetimepicker .next:hover{
	background-image: url(../images/uew_icon_hover.png)!important;
	background-repeat: no-repeat!important;
	background-position: center!important;
	transform: rotate(-90deg)!important;
	-ms-transform: rotate(-90deg)!important; /* IE 9 */
	-moz-transform: rotate(-90deg)!important; /* Firefox */
	-webkit-transform: rotate(-90deg)!important; /* Safari 和 Chrome */
	-o-transform: rotate(-90deg)!important; /* Opera */
}

.datetimepicker .switch{
	background: rgba(105, 185, 204, 0.788235294117647);
    color: white;
}

.datetimepicker .today:hover{
background: rgba(36, 138, 187, 0.77);
    color: white;
}

.datetimepicker table tr td.active.active,.datetimepicker table tr td span.active.active{
	background: rgba(36, 138, 187, 0.77)!important;
}
    
.modal{
	    z-index: 99999;
}    

.modal-header{
	padding:initial;
}

.modal-body {
    padding: 5px;
}

.modal-content{
	min-width:290px;
}

#remindModal .modal-content,#actionModal .modal-content{
    min-width: 500px;
}

#allClassMangersModal .modal-content{
    min-width: 619px;
}

#allClassMangersModal .modal-content{
    min-width:441px;
}

#appointClassStudenInfoModal .modal-content{
    min-width: 600px;
}

#breakClassModal .modal-content{
    min-width: 588px;
}

.bodyOnlyOneRow{
	min-width:500px;
}

.bodyOnlyOneRow .only_col_SelectTipInfo{
	    margin-left: 12px;
}

.bodyOnlyOneRow .only_col_SelectTipInfo .selectName {
    width: 16%;
}

.moadalTitle{
	max-width: 88%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#importStudentInfoModal .modal-body{
	padding: 13px 0px 1px 20px;
}

.loadingMasking{
	 z-index: 999999!important;
}


#remindModal .tipinfo{
 padding: 17px 0px 0px 17px;
}

.specialCanle {
	background: url(../images/btnbg2.png) repeat-x;
	color: rgba(0, 0, 0, 0.7490196078431373);
	font-weight: normal;
	width: 96px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	border-radius: 3px;
	cursor: pointer;
}

.anqxArea{
	    padding-top: 15px;
  
}

.anqxArea span{
    margin-right: 5px;
}
.newsInfoArea .selectName{
     width:initial; 
}

.NoNotice{
	background: none!important;
	text-align: center;
	margin-top: 33px;
}

.noticeTitleArea{
    font-weight: 500;
    font-size: 35px;
    padding-bottom: 17px;
 }

.noticeBodyArea .ke-toolbar,.noticeBodyArea .ke-statusbar{
	display:none!important;
}

.noticeBodyArea .ke-edit-iframe{
	background:rgba(237, 246, 250, 0.61)!important;
}


.noticeBodyArea .ke-container{
	border: none!important;
}

.myPlaceul li:last-child a{
				color:rgba(7, 89, 93, 0.6901960784313725)!important;
			}

.bootstrap4 .columns,.bootstrap4 .search {
	    float: right!important;
}

.studentBaseInfoTableArea .bootstrap4 .columns,.bootstrap4 .search {
	        margin-top: -3px;
}

.studentBaseInfoTableArea .bootstrap4 .search{
    margin-top: -1px;
 }
 
.courseLibraryTableArea .bootstrap4 .columns,.bootstrap4 .search {
	         margin-top:3px;
}

.courseLibraryTableArea .bootstrap4 .search{
       margin-top: 4px;
 }

.approvalBackTableArea .bootstrap4 .search,
.approvalMangerTableArea .bootstrap4 .search,
.teacherBaseInfoTableArea .bootstrap4 .search{
       margin-top: 12px;
 }
.administrationClassTableArea  .bootstrap4 .search{
        margin-top: 6px;
 }
 
.administrationClassTableArea  .bootstrap4 .columns,.bootstrap4 .search {
	        margin-top: 4px;
}


.WaitTaskTableArea .search{
    margin-top: 11px;
}

.WaitTaskTableArea {
    margin-top: -63px;
}

.putOutTaskTableArea  .bootstrap4 .columns,
.scheduleClassesTableArea  .bootstrap4 .columns,
.allRoleTableArea  .bootstrap4 .columns,
.allUserTableArea .bootstrap4 .columns,
.teachingClassTableArea .bootstrap4 .columns,
.culturePlanVerifyTableArea  .bootstrap4 .columns{
    margin-top: 3px;
}

.noActionText{
	text-align: left;
	color: rgb(30, 128, 167);
    font-weight: bolder;
}

.bootstrap4 .fixed-table-container tbody .selected td {
    background-color: rgba(193, 226, 239, 0.25);
}
 
.bootstrap4 .export {
	margin-left: 5px !important;
}

.bootstrap4 .dropdown-menu{
	    min-width: 112px!important;
}

.bootstrap4 .export .dropdown-menu a{
	display: none;
}

.bootstrap4 .export .dropdown-menu a:last-child{
	display: block;
	text-align: center;
}

.bootstrap4 .keep-open input[type="checkbox"]{
margin: 0px 0px -14px -15px!important;
}

.bootstrap4 .keep-open label{
    margin-top: 8px;}
    
.no-records-found td{
	    color: rgb(9, 127, 162)!important;
} 

.bootstrap4 .table-bordered > thead > tr > th{
	border-left: none!important;
	border-right: none!important;
}


.bootstrap4 .table > thead > tr > th{
	    line-height: 2.428571!important;
}


.bootstrap4 .pagination-info{
	     float: right;
}

.bootstrap4 .float-right{
	   float: left;
}

.toast-message{
	    text-align: left;
}

/*.kjArea{*/
/*	margin-left: -0.5%;*/
/*}*/

.kjArea .searchAreaWitheSelect .select-mania{
	margin-left:-5%!important;
}

.kjForForenoonArea,.kjFoAfternoonArea,.kjForEveingArea{
	width: 26.3333%;
	float: left;
	margin-left: 57px;
	margin-right: 16px;
}

@media screen and (max-width:1205px) {
	.kjForForenoonArea,.kjFoAfternoonArea,.kjForEveingArea{
		width: 41%;
	}
}

.kjformtext{
	margin-bottom: -7%;
	color: rgb(7 84 130);
	font-weight: 500;
	font-size: 13px;
}

.historyArea{
	background-color: rgb(199 208 214 / 15%);
	border-radius: 4px;
	box-shadow: inset 0px 3px 5px 0px #d5dee2;
	margin-bottom: 13px;
	padding: 13px;
	width: 94%;
	margin: 0 auto;
}

.historyArea:last-child{
	margin-bottom: 10px;
}

.historyArea span{
	font-size: 12px;
	margin-bottom: 3px;
	margin-left: 39%;
	width: 100%;
}

.historyArea cite{
 color: rgb(43 71 84 / 86%);
}

.historyArea b{
    color: rgb(22 56 72 / 92%);
}

.spiltImg{
    margin-left: 48%;
}

.Historystep{
    float: left;
    font-family: revert;
    color: #37555a;
    text-decoration: underline;
    text-decoration-color: black;
	font-weight: 600;
}

.scheduleInfo{
	font-size: 15px;
	font-family: sans-serif;
	color: rgb(50 107 134 / 95%);
}

.choosendTerm,.choosendWeekArea,.choosendKjArea,.choosendLoactionArea{
	margin-top: 5px;
	font-size: 15px;
	color: rgb(50 107 134 / 95%);
}

.choosendLoactionArea{
	border-bottom: solid 1px #d0dee5
}

.choosendLoactionArea span{
	margin-bottom: 17px;
}

.arrowAREA{
	float: left;
	width: 7%;
	margin-top: 21%;
	padding-left: 5px;
}

.arrowAREAImg{
	float: left;
	width: 46%;
}

.soprtAreaChildren{
	float: left;
	width: 45%;
	border: 1px #6fadbf1f solid;
	height: auto;
	padding: 7px 0px 7px 22px;
	background-color: rgb(97 137 160 / 10%);
	border-radius: 4px;
	box-shadow: inset 1px 2px 12px 0px rgb(160 221 234 / 33%);
	min-height: 280px;
	overflow: auto;
    max-height: 280px;
}

.soprtAreaTitle{
	color: #0b404c;
	font-size: 13px;
}

.norsArea{
	margin: 43% 26%;
	color: gray;
}

.img1{
	transform: rotate(176deg);
	margin-top: -1.3px;
}

.PuttedKjArea{
	color: #115882;
	font-size: 15px;
	font-weight: 500;
	width: 100%;
	text-align: left;
	padding-left: 41px;
	background: url(../images/btnbg1.png) center center no-repeat;
	background-position-x: 25px;
	background-size: 8px 8px;
}

.newUserAuthority{
	margin-bottom: 28px;
	margin-top: 25px;
}

.newUserAuthority .multi-select-container{
	margin-left: 38px!important;
	margin-top: -13px!important;
}

.newUserAuthority .multi-select-button{
	width: 344px;
	text-align: center;
}

.multipleInTableArea .multi-select-menuitems label:last-child input{
	display: inline;
}

.multipleInTableArea{
	margin-left: 3%;
	margin-top: -4px;
}

.canChooseRoleArea{
	position: relative;
	background: #79c3e0;
	width: 171px;
	margin-top: -11px;
	z-index: 999999;
	height: 76px;
	overflow: hidden;
	float: left;
	border-radius: 8px;
	overflow-y: auto;
}

.arrow-right{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #79c3e0;
	position: relative;
	float: left;
	transform: translateX(-180px) rotate(184deg);
}

.canChooseRoles cite{
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	background-color: #53a5d470;
	border-radius: 5px;
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 2px;
	padding-bottom: 5px;
}

.canChooseRoles cite:hover{
	color: black;
	background-color: rgb(53 187 218 / 75%);
	text-indent: -10px;
}

@keyframes serachAnimation {
    10% {
        transform: translateX(-3px) rotate(-2deg);
        -ms-transform: translateX(-3px) rotate(-2deg);
        /* IE 9 */
		-webkit-transform: translateX(-3px) rotate(-2deg);
		/* Safari and Chrome */
		-o-transform: translateX(-3px) rotate(-2deg);
		/* Opera */
		-moz-transform: translateX(-3px) rotate(-2deg);
		/* Firefox */
	}

	30% {
		transform: translateX(3px) rotate(0deg);
		-ms-transform: translateX(3px) rotate(0deg);
		-webkit-transform: translateX(3px) rotate(0deg);
		-o-transform: translateX(3px) rotate(0deg);
		-moz-transform: translateX(3px) rotate(0deg);
	}

	50% {
		transform: translateX(-3px) rotate(1deg);
		-ms-transform: translateX(-3px) rotate(1deg);
		-webkit-transform: translateX(-3px) rotate(1deg);
		-o-transform: translateX(-3px) rotate(1deg);
		-moz-transform: translateX(-3px) rotate(1deg);
	}

	70% {
		transform: translateX(-3px) rotate(-1deg);
		-ms-transform: translateX(-3px) rotate(-1deg);
		-webkit-transform: translateX(-3px) rotate(-1deg);
		-o-transform: translateX(-3px) rotate(-1deg);
		-moz-transform: translateX(-3px) rotate(-1deg);
	}

	90% {
		transform: translateX(-2px) rotate(0deg);
		-ms-transform: translateX(-2px) rotate(0deg);
		-webkit-transform: translateX(-2px) rotate(0deg);
		-o-transform: translateX(-2px) rotate(0deg);
		-moz-transform: translateX(-2px) rotate(0deg);
	}

	100% {
		transform: translateX(0px) rotate(1deg);
		-ms-transform: translateX(0px) rotate(1deg);
		-webkit-transform: translateX(0px) rotate(1deg);
		-o-transform: translateX(0px) rotate(1deg);
		-moz-transform: translateX(0px) rotate(1deg);
	}
}
