<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>授课任务查询</title>
		<link href="css/loading.css" rel="stylesheet" type="text/css" />
		<link href="css/icon.css" rel="stylesheet" type="text/css" />
		<link href='css/bootstrap.min.css' media='all' rel='stylesheet' type='text/css' />
		<link href='css/bootstrap-table.css' media='all' rel='stylesheet' type='text/css' />
		<link href="css/example-styles.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/useful2.css" rel="stylesheet" type="text/css" />
		<link href="css/toastr.min.css" rel="stylesheet" type="text/css" />
		<link href='css/animate.min.css' media='all' rel='stylesheet' type='text/css' />
		<link href="css/select-mania.css" rel="stylesheet" type="text/css" />
		<link href="css/tooltipify.min.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="sripts/jquery.min.js"></script>
		<script src='sripts/bootstrap.min.js' type='text/javascript'></script>
		<script src='sripts/bootstrap-table.js' type='text/javascript'></script>
		<script src='sripts/bootstrap-table-zh-CN.min.js' type='text/javascript'></script>
		<script src="sripts/toastr.min.js" type="text/javascript"></script>
		<script src="sripts/select-mania.js" type="text/javascript"></script>
		<script src="sripts/jquery.idTabs.min.js" type="text/javascript"></script>
		<script src="sripts/bootstrap-input-spinner.js" type="text/javascript"></script>
		<script src="sripts/jszip.min.js" type="text/javascript"></script>
		<script src="sripts/FileSaver.js" type="text/javascript"></script>
		<script src="sripts/excel-gen.js" type="text/javascript"></script>
		<script src="sripts/jquery.multi-select.min.js" type="text/javascript"></script>
		<script src='sripts/jquery-tooltipify.min.js' type='text/javascript'></script>
		<script src="sripts/jquerySession.js"></script>
		<script type="text/javascript" src="js/implement.js"></script>
		<script type="text/javascript" src="js/allSchedule.js"></script>
		<script type="text/javascript" src="sripts/tableExport.js"></script>
		<script type="text/javascript" src="sripts/bootstrap-table-export.js"></script>
	</head>

	<body>

		<div class="place">
			<span>位置：</span>
			<ul class="placeul myPlaceul">
				<li><a href="index.html">首页</a></li>
				<li><a>教务管理</a></li>
				<li><a>授课任务查询</a></li>
			</ul>
		</div>

		<div class="formbody">
			<div id="mainArea" class="usual">
				<div class="itab">
					<ul>
						<li><a href="#year" class="selected" onclick="drawBreadPilot(this)">学年课表</a></li>
						<li><a href="#week" onclick="drawBreadPilot(this),WeekArea()">周课表</a></li>
					</ul>
				</div>

				<div id="year" class="tabson myTabson">
					<div class="yearScheduleArea">
						<div class="formtext myformtext myformtextTipArea" style="margin-bottom: 30px">
							<b>提示：1.蓝色代表专业必修课,绿色代表公共必修课,黄色代表公共选修课,紫色代表专业选修课</b><br></br>
							<b>2.教师或行政班必选一个且只能选择一个作为检索条件  (确认选择教师清空已选班级,确认选择班级清空已选教师)</b><br></br>
							<b>3.点击可查看课程详情</b><br></br>
						</div>
						<div class="tools">
							<ul class="toolbar">
								<li class="click" id="yearStartSearch"><span><img src="images/ico06.png" style="width: 24px;" /></span>开始检索</li>
								<li class="click" id="exportSchedule"><span><img src="images/ico05.png" style="width: 24px;" /></span>学年课表导出</li>
							</ul>
							<ul class="toolbar1">
								<li class="click" id="yearReSearch"><span><img src="img/reback.png" style="width: 24px;" /></span>重置检索</li>
							</ul>
						</div>

						<div class="searchArea searchAreaWitheSelect">
							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">学年<b>*</b></label>
										<select id="yearSemester" class="isSowIndex">
											<option value="seleceConfigTip">请选择</option>
										</select>
									</div>
								</ul>
							</div>


							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">授课类型<b>*</b></label>
										<select id="yearCrouseType" class="isSowIndex">
											<option value="seleceConfigTip">请选择</option>
											<option value="type1">集中授课</option>
											<option value="type2">分散授课</option>
										</select>
									</div>
								</ul>
							</div>

							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">行政班</label>
										<input name="" type="text" class="myInput searchInput" classId="" id="yearClass" placeholder="点击选择行政班..." />
									</div>
								</ul>
							</div>

							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">教师</label>
										<input name="" type="text" class="myInput searchInput" teacherId="" id="yearTeacher" placeholder="点击选择教师..." />
									</div>
								</ul>
							</div>
						</div>

						<div class="yearScheduleTableArea searchGivePaddingR scheduleTableStyle">
							<table class="tablelist myTableStyle" id="yearScheduleTable" style="margin-top: 10px;"></table>
						</div>

						<div class="clear"></div>
						<div class="yearFsScheduleTableArea searchGivePaddingR columnsStyle noneStart">
							<table class="tablelist myTableStyle" id="yearFsScheduleTable" style="margin-top: 10px;"></table>
						</div>
					</div>
				</div>

				<div id="week" class="tabson myTabson">
					<div class="scheduleClassesMainArea">
						<div class="formtext myformtext myformtextTipArea" style="margin-bottom: 14px">
							<b>提示：1.蓝色代表专业必修课,绿色代表公共必修课,黄色代表公共选修课,紫色代表专业选修课</b><br></br>
							<b>2.点击可查看课程详情</b><br></br>
						</div>
						<div class="tools">
							<ul class="toolbar">
								<li class="click" id="startSearch"><span><img src="images/ico06.png" style="width: 24px;" /></span>开始检索</li>
								<li class="click" id="exportScheduleForWeek"><span><img src="images/ico05.png" style="width: 24px;" /></span>周课表导出</li>
							</ul>
							<ul class="toolbar1">
								<li class="click" id="reSearch"><span><img src="img/reback.png" style="width: 24px;" /></span>重置检索</li>
							</ul>
						</div>

						<div class="searchArea searchAreaWitheSelect">
							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">学年<b>*</b></label>
										<select id="semester" class="isSowIndex">
											<option value="seleceConfigTip">请选择</option>
										</select>
									</div>
								</ul>
							</div>

							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">周数<b>*</b></label>
										<select id="weekTime" class="isSowIndex">
											<option value="seleceConfigTip">暂无选择</option>
										</select>
									</div>
								</ul>
							</div>
							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">授课类型<b>*</b></label>
										<select id="crouseType" class="isSowIndex">
											<option value="seleceConfigTip">请选择</option>
											<option value="type1">集中授课</option>
											<option value="type2">分散授课</option>
										</select>
									</div>
								</ul>
							</div>
							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">层次</label>
										<select id="level" class="isSowIndex">
											<option value="seleceConfigTip">暂无选择</option>
										</select>
									</div>
								</ul>
							</div>
							<div class="clear"></div>

							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">二级学院</label>
										<select id="department" class="isSowIndex">
											<option value="seleceConfigTip">暂无选择</option>
										</select>
									</div>
								</ul>
							</div>
							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">年级</label>
										<select id="grade" class="isSowIndex">
											<option value="seleceConfigTip">暂无选择</option>
										</select>
									</div>
								</ul>
							</div>
							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">专业</label>
										<select id="major" class="isSowIndex">
											<option value="seleceConfigTip">暂无选择</option>
										</select>
									</div>
								</ul>
							</div>
							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">教学点</label>
										<select id="local" class="isSowIndex">
											<option value="seleceConfigTip">暂无选择</option>
										</select>
									</div>
								</ul>
							</div>
							<div class="clear"></div>

							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">教学任务点</label>
										<select id="location" class="isSowIndex">
											<option value="seleceConfigTip">暂无选择</option>
										</select>
									</div>
								</ul>
							</div>
							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">行政班</label>
										<input name="" type="text" class="myInput searchInput" classId="" id="class" placeholder="点击选择行政班..." />
									</div>
								</ul>
							</div>
							<div class="col4 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">教师</label>
										<input name="" type="text" class="myInput searchInput" teacherId="" id="teacher" placeholder="点击选择教师..." />
									</div>
								</ul>
							</div>
						</div>

						<div class="scheduleClassesTableArea searchGivePaddingR scheduleTableStyle">
							<table class="tablelist myTableStyle" id="scheduleClassesTable" data-unique-id="id" style="margin-top: 10px;"></table>
						</div>

						<div class="clear"></div>
						<div class="fsScheduleAreaTableArea searchGivePaddingR columnsStyle noneStart">
							<table class="tablelist myTableStyle" id="fsScheduleTable" data-unique-id="edu207_ID" style="margin-top: 10px;"></table>
						</div>

					</div>
				</div>
			</div>
		</div>


		<!-- 课表详情Modal -->
		<div class="modal fade bs-example-modal-lg" id="scheduleInfoModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="tiptop"><span class="moadalTitle">课程详情</span><a class="cancel" shape="rect"></a></div>
					</div>

					<div class="modal-body">
						<div id="usual1" class="usual">
							<div class="itab">
								<ul>
									<li><a href="#tab1" class="selected">课程信息</a></li>
									<li><a href="#tab2">学生名单</a></li>
								</ul>
							</div>

							<div id="tab1" class="tabson myTabson">
								<div class="manyInfoShow">
									<div class="searchArea moreInfoSelectStyle">
										<div class="formtitle" style="margin-bottom: 6px;"><span>基本信息：</span></div>
										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">课程代码<b>*</b></label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_code" placeholder="暂无课程代码..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">课程名称<b>*</b></label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_coursesName"
														   placeholder="暂无课程名字..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">总学时<b>*</b></label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_allhours" placeholder="暂无总学时..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="MyspinnerStyle">
													<label class="selectName">学分<b>*</b></label> <input
														id="majorTrainingDetails_credits" type="number" value="0" data-decimals="1" min="0" max="100" step="0.1" />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="MyspinnerStyle">
													<label class="selectName">理论学时<b>*</b></label> <input
														id="majorTrainingDetails_theoryHours" type="number" min="0"
														step="1"  />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="MyspinnerStyle">
													<label class="selectName">实践学时<b>*</b></label> <input
														id="majorTrainingDetails_practiceHours" type="number" min="0"
														step="1" />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="MyspinnerStyle">
													<label class="selectName">分散学时<b>*</b></label> <input
														id="majorTrainingDetails_disperseHours" type="number" min="0"
														step="1" />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="MyspinnerStyle">
													<label class="selectName">集中学时<b>*</b></label> <input
														id="majorTrainingDetails_centralizedHours" type="number" min="0"
														step="1" />
												</div>
											</ul>
										</div>

										<div class="clear"></div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="MyspinnerStyle">
													<label class="selectName">周学时<b>*</b></label> <input
														id="majorTrainingDetails_weekHours" type="number" min="0"
														step="1" />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="MyspinnerStyle">
													<label class="selectName">总周数<b>*</b></label> <input
														id="majorTrainingDetails_weekCounts" type="number" min="0"
														step="1" />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">课程类型</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_classType" placeholder="暂无课程类型..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">课程性质</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_coursesNature" placeholder="暂无课程性质..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">考试方式</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_testWay" placeholder="暂无考试方式..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">课程属性</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_classQuality" placeholder="暂无课程属性..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">反馈意见</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_feedback" placeholder="暂无反馈意见..." />
												</div>
											</ul>
										</div>

										<div class="clear"></div>
										<div class="formtitle" style="margin-bottom: 6px;"><span>其它信息：</span></div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">期中成绩比例</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_midtermPrcent"
														   placeholder="暂无期中成绩比例..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">期末成绩比例</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_endtermPrcent"
														   placeholder="暂无期末成绩比例..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">是否新课</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_isNewClass" placeholder="暂无是否新课..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">授课方式</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_calssWay" placeholder="暂无授课方式..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">是否校企合作</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_isSchoolBusiness" placeholder="暂无是否校企合作..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">精品课程等级</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_signatureCourseLevel" placeholder="暂无精品课程等级..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">是否核心课程</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_isKernelClass" placeholder="暂无是否核心课程..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">职业资格考证课程</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_isTextual" placeholder="暂无职业资格考证课程..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">是否课证融通</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_isCalssTextual" placeholder="暂无是否课证融通..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">教学改革立项课程</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_isTeachingReform" placeholder="暂无教学改革立项课程..." />
												</div>
											</ul>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>

							<div id="tab2" class="tabson myTabson" style="padding-top:4px;">
								<div class="recordsInfoArea">
									<div class="singleRecordsArea" style="padding: 10px;"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>

					<div class="modal-footer tipbtn">
						<input name="" type="button" class="sure confirmModifyBtn" value="确定"/>&nbsp;
						<input name="" type="button" class="cancel" value="取消"/>
					</div>
				</div>
			</div>
		</div>

		<!-- 选择行政班Modal -->
		<div class="modal fade bs-example-modal-lg" id="classModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="tiptop"><span class="moadalTitle">行政班列表</span><a class="cancel" shape="rect"></a></div>
					</div>
					<div class="modal-body">
						<div class="tools paddingL" style="padding-top:1%">
							<ul class="toolbar" style="float: none">
								<li class="click" id="allClass_StartSearch"><span><img
										src="images/ico06.png" style="width: 24px;" /></span>开始检索</li>
								<li class="click" id="allClass_ReSearch"><span><img
										src="img/reback.png" style="width: 24px;" /></span>重置检索</li>
							</ul>
						</div>
						<div class="searchArea moreInfoSelectStyle">
							<div class="col3 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">层次</label>
										<select id="class_level" class="isSowIndex">
											<option value="seleceConfigTip">暂无选择</option>
										</select>
									</div>
								</ul>
							</div>
							<div class="col3 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">二级学院</label>
										<select id="class_department" class="isSowIndex">
											<option value="seleceConfigTip">暂无选择</option>
										</select>
									</div>
								</ul>
							</div>

							<div class="col3 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">年级</label>
										<select id="class_grade" class="isSowIndex">
											<option value="seleceConfigTip">暂无选择</option>
										</select>
									</div>
								</ul>
							</div>
							<div class="clear"></div>

							<div class="col3 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">专业</label>
										<select id="class_major" class="isSowIndex">
											<option value="seleceConfigTip">暂无选择</option>
										</select>
									</div>
								</ul>
							</div>

							<div class="col3 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">班级名称</label>
										<input name="" type="text" class="myInput manyInfoInput"
											   id="class_className" placeholder="请输入班级名称..." />
									</div>
								</ul>
							</div>
						</div>

						<div class="allClassMangersTableArea">
							<table class="tablelist myTableStyle" id="allClassTable" data-unique-id="edu300_ID" style="margin-top: 10px;"></table>
						</div>
					</div>
					<div class="modal-footer tipbtn">
						<input name="" type="button" class="sure" id="confirmChoosedClass" value="确定"/>&nbsp;
						<input name="" type="button" class="cancel" value="取消"/>
					</div>
				</div>
			</div>
		</div>

		<!-- 选择教师Modal -->
		<div class="modal fade bs-example-modal-lg" id="allClassMangersModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="tiptop"><span class="moadalTitle">教师列表</span><a class="cancel" shape="rect"></a></div>
					</div>
					<div class="modal-body">
						<div class="tools paddingL" style="padding-top:1%">
							<ul class="toolbar" style="float: none">
								<li class="click" id="allClassMangers_StartSearch"><span><img
										src="images/ico06.png" style="width: 24px;" /></span>开始检索</li>
								<li class="click" id="allClassMangers_ReSearch"><span><img
										src="img/reback.png" style="width: 24px;" /></span>重置检索</li>
							</ul>
						</div>
						<div class="searchArea moreInfoSelectStyle">
							<div class="col3 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 7px;">二级学院</label>
										<input name="" type="text" class="myInput manyInfoInput"
											   id="departmentName" placeholder="请输入二级学院名称..." />
									</div>
								</ul>
							</div>

							<div class="col3 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">姓名</label>
										<input name="" type="text" class="myInput manyInfoInput"
											   id="mangerName" placeholder="请输入姓名..." />
									</div>
								</ul>
							</div>

							<div class="col3 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">工号</label>
										<input name="" type="text" class="myInput manyInfoInput"
											   id="mangerNumber" placeholder="请输入工号..." />
									</div>
								</ul>
							</div>
						</div>

						<div class="allClassMangersTableArea">
							<table class="tablelist myTableStyle" id="allClassMangersTable"
								   data-unique-id="edu101_ID" style="margin-top: 10px;"></table>
						</div>
					</div>
					<div class="modal-footer tipbtn">
						<input name="" type="button" class="sure" id="confirmChoosedTeacher" value="确定"/>&nbsp;
						<input name="" type="button" class="cancel" value="取消"/>
					</div>
				</div>
			</div>
		</div>

		<!-- 集中学时课表导出Modal -->
		<div class="modal fade bs-example-modal-lg addAdministrationClassTip" id="exprtJzModal" tabindex="-1" role="dialog"  data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content bodyOnlyOneRow">
					<div class="modal-header">
						<div class="tiptop"><span class="moadalTitle">集中学时课表导出</span><a class="cancel" shape="rect"></a></div>
					</div>
					<div class="modal-body">
						<div class="only_col_SelectTipInfo searchArea moreInfoSelectStyle">
							<div class="col1 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">学年<b>*</b></label>
										<select class="isSowIndex" id="exprtJz_xn">
										</select>
									</div>
								</ul>
							</div>

							<div class="col1 giveBottom">
								<ul class="forminfo">
									<div class="">
										<label class="selectName" style="margin-top: 14px;">二级学院<b>*</b></label>
										<select class="isSowIndex"
												id="exprtJz_department">
											<option value="seleceConfigTip">暂不可选</option>
										</select>
									</div>
								</ul>
							</div>
						</div>
					</div>
					<div class="modal-footer tipbtn">
						<input name="" type="button" class="sure confirmExprtJz" value="确定"/>&nbsp;
						<input name="" type="button" class="cancel" value="取消"/>
					</div>
				</div>
			</div>
		</div>

		<!-- ajax请求masking -->
		<div class="modal-backdrop fade loadingMasking noneStart">
			<div class="spinner-box">
				<div class="pulse-container">
					<div class="pulse-bubble pulse-bubble-1"></div>
					<div class="pulse-bubble pulse-bubble-2"></div>
					<div class="pulse-bubble pulse-bubble-3"></div>
				</div>
				<div class="loadingtxt">数据加载中，请稍后...</div>
			</div>
		</div>
		<script type="text/javascript">
			$("#usual1 ul,#mainArea ul").idTabs();
		</script>
	</body>
</html>
