<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>学生个人总体成绩导出</title>
	<script type="text/javascript" src="sripts/jquery.min.js"></script>
	<script type="text/javascript" src="sripts/jQuery.print.js"></script>
	<script type="text/javascript" src="sripts/html2canvas.js"></script>
	<script type="text/javascript" src="js/exportAllGrade.js"></script>
	<link href="css/exportAllGrade.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <button id="export">导出</button>
	<button id="export2">导出</button>



	<div id="imgDiv">
	</div>

	<div id="ele">

	</div>

	<div class="infoTable">

	</div>

	<div class="demo" id="noneStart">
		<h3>辽宁职业学院学生成绩总表</h3>
		<cite><p>系/院：</p><p class="xy"></p></cite>
		<cite><p>专业：</p><p></p></cite>
		<cite><p>年级：</p><p></p></cite>
		<cite><p>班级：</p><p></p></cite>
		<br/>
		<cite><p>学号：</p><p></p></cite>
		<cite><p>姓名：</p><p></p></cite>
		<cite><p>层次：</p><p></p></cite>
		<div class="clear"></div>
	</div>
</body>
<!--		&lt;!&ndash; ajax请求masking &ndash;&gt;-->
<!--		<div class="modal-backdrop fade loadingMasking noneStart">-->
<!--			<div class="spinner-box">-->
<!--				<div class="pulse-container">-->
<!--					<div class="pulse-bubble pulse-bubble-1"></div>-->
<!--					<div class="pulse-bubble pulse-bubble-2"></div>-->
<!--					<div class="pulse-bubble pulse-bubble-3"></div>-->
<!--				</div>-->
<!--				<div class="loadingtxt">数据加载中，请稍后...</div>-->
<!--			</div>-->
<!--		</div>-->
</html>
