<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>辽宁职业学院扩招教学大数据展示平台</title>
    <!--设置是否为缩放模式 -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="img/titleLogo.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='css/bootstrap.min.css' media='all' rel='stylesheet' type='text/css' />
    <link href='css/bootstrap-table.css' media='all' rel='stylesheet' type='text/css' />
    <link href="css/swiper.min.css" rel="stylesheet" type="text/css" /><!-- 轮播swiper文件 -->
    <link href="css/visual.css" rel="stylesheet" type="text/css" />
    <link href='css/animate.min.css' media='all' rel='stylesheet' type='text/css' />
    <link href='css/largeScreen.css' media='all' rel='stylesheet' type='text/css' />
    <script src='sripts/jquery.min.js' type='text/javascript'></script>
    <script src='sripts/bootstrap-table.js' type='text/javascript'></script>
    <script src='sripts/bootstrap-table-zh-CN.min.js' type='text/javascript'></script>
    <script src='sripts/bootstrap.min.js' type='text/javascript'></script>
    <script src='sripts/echarts.min.js' type='text/javascript'></script>
    <script src="sripts/swiper.min.js"></script>
    <script src="js/largerScreen.js"></script>
</head>
<body class="ksh">
    <div class="noneStart currentShowPage">1</div>
    <div id="load">
        <div class="load_img">
            <!-- 加载动画 -->
            <img class="jzxz1" src="images/jzxz1.png"/>
            <img class="jzxz2" src="images/jzxz2.png"/>
        </div>
    </div>
    <div class="head_top"><span>辽宁职业学院扩招教学大数据展示平台</span></div>
    <div class="head_top noneStart smallvideOnwer"><span></span></div>
    <div class="visual">
        <div class="visual_left leftHideenArea">
            <div class="visual_box">
                <div class="visual_title">
                    <span>授课教师人数</span>
                    <img src="images/ksh33.png"/>
                </div>
                <div class="visual_chart tableArea rightTableArea">
                    <table id='teacherCountTable'></table>
                </div>
            </div>

            <div class="visual_box">
                <div class="visual_title">
                    <span>教师类型分布</span>
                    <img src="images/ksh33.png"/>
                </div>
                <div class="swiper-container visual_swiperRight2 visual_chart">
                    <div class="swiper-wrapper teacheeTypeCountAppendArea"></div>
                </div>
            </div>

            <div class="visual_box">
                <div class="visual_title">
                    <span>课时类型分布</span>
                    <img src="images/ksh33.png"/>
                </div>
                <div class="swiper-container visual_swiperRight3 visual_chart">
                    <div class="swiper-wrapper classHourTypeAppendArea"></div>
                </div>
            </div>
        </div>

        <div class="visual_con topHideenArea">
           <div class="visual_conTop">
			   <div class="visual_conBot_bot" style="height: 180px;">
			       <div class="visualSssf_right">
			           <div class="visualSssf_right_box chartDom1" id="main5"></div>
			           <div class="visualSssf_right_box chartDom1" id="main6"></div>
			       </div>
			       <div class="clear"></div>
			   </div>
            </div>
			
            <div class="visual_conBot">
                <img class="visual_conBot_l" src="images/ksh42.png"/>
                <img class="visual_conBot_2" src="images/ksh43.png"/>
                <img class="visual_conBot_3" src="images/ksh44.png"/>
                <img class="visual_conBot_4" src="images/ksh45.png"/>
                <div class="visual_chart_text">
                </div>
                <div class="visual_chart chartDom1" id="main8"></div>

                <div class="smallVideoArea noneStart visual_chart" style="margin-top: 19%;">
                    <video class="col-md-12 videoArea" controls="controls" id="samllVideo">
                        <source src="testVideo/介绍.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>

        <div class="visual_right rightHideenArea">
            <div class="visual_box">
                <div class="visual_title">
                    <span>学员概貌分析</span>
                    <img src="images/ksh33.png"/>
                </div>
                <div class="swiper-container visual_swiper1 visual_chart">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide chartDom1" id="main3"></div>
                        <div class="swiper-slide chartDom1" id="main31"></div>
                    </div>
                </div>
            </div>

            <div class="visual_box">
                <div class="visual_title">
                    <span>授课情况统计</span>
                    <img src="images/ksh33.png"/>
                </div>
                <div class="swiper-container visual_swiperRightCourseCount visual_chart">
                    <div class="swiper-wrapper visualSssf_right courseCountAppendArea"></div>
                </div>
            </div>

            <div class="visual_box">
                <div class="visual_title">
                    <span>学员人数统计</span>
                    <img src="images/ksh33.png"/>
                </div>
                <div class="swiper-container visual_swiper2 visual_chart">
                    <div class="swiper-wrapper localStudentInfoArea"></div>
                </div>
            </div>
        </div>

        <div class="bigVideoArea">
            <div class="videOnwer"></div>
            <div class="bigVideoReturn" id="bigVideoReturn" onclick="hiddenBigVideo()"><button type="button" class="btn btn-primary"><img src="img/back.png" style="width: 24px;"/>返回</button></div>
            <video class="col-md-12 videoArea" controls="controls" id="bigVideo">
                <source src="testVideo/介绍.mp4" type="video/mp4" />
            </video>
        </div>

        <div class="clear"></div>
    </div>

</body>

</html>
