<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>教师学期课表</title>
		<link href="css/loading.css" rel="stylesheet" type="text/css" />
		<link href='css/bootstrap.min.css' media='all' rel='stylesheet' type='text/css' />
		<link href='css/bootstrap-table.css' media='all' rel='stylesheet' type='text/css' />
		<link href="css/example-styles.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/useful2.css" rel="stylesheet" type="text/css" />
		<link href="css/toastr.min.css" rel="stylesheet" type="text/css" />
		<link href='css/animate.min.css' media='all' rel='stylesheet' type='text/css' />
		<link href="css/select-mania.css" rel="stylesheet" type="text/css" />
		<link href="css/tooltipify.min.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="sripts/jquery.min.js"></script>
		<script src='sripts/bootstrap.min.js' type='text/javascript'></script>
		<script src='sripts/bootstrap-table.js' type='text/javascript'></script>
		<script src='sripts/bootstrap-table-zh-CN.min.js' type='text/javascript'></script>
		<script src="sripts/toastr.min.js" type="text/javascript"></script>
		<script src="sripts/select-mania.js" type="text/javascript"></script>
		<script src="sripts/jquery.idTabs.min.js" type="text/javascript"></script>
		<script src="sripts/bootstrap-input-spinner.js" type="text/javascript"></script>
		<script src="sripts/jszip.min.js" type="text/javascript"></script>
		<script src="sripts/FileSaver.js" type="text/javascript"></script>
		<script src="sripts/excel-gen.js" type="text/javascript"></script>
		<script src="sripts/jquery.multi-select.min.js" type="text/javascript"></script>
		<script src='sripts/jquery-tooltipify.min.js' type='text/javascript'></script>
		<script src="sripts/jquerySession.js"></script>
		<script type="text/javascript" src="js/implement.js"></script>
		<script type="text/javascript" src="js/teacherSemestersSchedule.js"></script>
	</head>

	<body>

		<div class="place">
			<span>位置：</span>
			<ul class="placeul myPlaceul">
				<li><a href="index.html">首页</a></li>
				<li><a>教师管理</a></li>
				<li><a>教师学年课表</a></li>
			</ul>
		</div>

		<div class="formbody">
			<div class="scheduleClassesMainArea">
				<div class="formtext myformtext myformtextTipArea" style="margin-bottom: 14px">
					<b>提示：1.蓝色代表专业必修课,绿色代表公共必修课,黄色代表公共选修课,紫色代表专业选修课</b><br></br>
					<b>2.点击可查看课程详情</b><br></br>
				</div>

				<div class="searchArea searchAreaWitheSelect">
					<div class="col4 giveBottom">
						<ul class="forminfo">
							<div class="">
								<label class="selectName" style="margin-top: 14px;">学年<b>*</b></label>
								<select id="semester" class="isSowIndex">
									<option value="seleceConfigTip">请选择</option>
								</select>
							</div>
						</ul>
					</div>

					<div class="col4 giveBottom">
						<ul class="forminfo">
							<div class="">
								<label class="selectName" style="margin-top: 14px;">周数<b>*</b></label>
								<select id="weekTime" class="isSowIndex">
									<option value="seleceConfigTip">暂无选择</option>
								</select>
							</div>
						</ul>
					</div>
				</div>

				<div class="scheduleClassesTableArea searchGivePaddingR scheduleTableStyle">
					<table class="tablelist myTableStyle" id="scheduleClassesTable" data-unique-id="id" style="margin-top: 10px;"></table>
				</div>

			</div>
</div>


		<!-- 课表详情Modal -->
		<div class="modal fade bs-example-modal-lg" id="scheduleInfoModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="tiptop"><span class="moadalTitle">课程详情</span><a class="cancel" shape="rect"></a></div>
					</div>

					<div class="modal-body">
						<div id="usual1" class="usual">
							<div class="itab">
								<ul>
									<li><a href="#tab1" class="selected">课程信息</a></li>
									<li><a href="#tab2">学生名单</a></li>
								</ul>
							</div>

							<div id="tab1" class="tabson myTabson">
								<div class="manyInfoShow">
									<div class="searchArea moreInfoSelectStyle">
										<div class="formtitle" style="margin-bottom: 6px;"><span>基本信息：</span></div>
										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">课程代码<b>*</b></label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_code" placeholder="暂无课程代码..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">课程名称<b>*</b></label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_coursesName"
														   placeholder="暂无课程名字..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">总学时<b>*</b></label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_allhours" placeholder="暂无总学时..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="MyspinnerStyle">
													<label class="selectName">学分<b>*</b></label> <input
														id="majorTrainingDetails_credits" type="number" value="0" data-decimals="1" min="0" max="100" step="0.1" />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="MyspinnerStyle">
													<label class="selectName">理论学时<b>*</b></label> <input
														id="majorTrainingDetails_theoryHours" type="number" min="0"
														step="1"  />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="MyspinnerStyle">
													<label class="selectName">实践学时<b>*</b></label> <input
														id="majorTrainingDetails_practiceHours" type="number" min="0"
														step="1" />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="MyspinnerStyle">
													<label class="selectName">分散学时<b>*</b></label> <input
														id="majorTrainingDetails_disperseHours" type="number" min="0"
														step="1" />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="MyspinnerStyle">
													<label class="selectName">集中学时<b>*</b></label> <input
														id="majorTrainingDetails_centralizedHours" type="number" min="0"
														step="1" />
												</div>
											</ul>
										</div>

										<div class="clear"></div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="MyspinnerStyle">
													<label class="selectName">周学时<b>*</b></label> <input
														id="majorTrainingDetails_weekHours" type="number" min="0"
														step="1" />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="MyspinnerStyle">
													<label class="selectName">总周数<b>*</b></label> <input
														id="majorTrainingDetails_weekCounts" type="number" min="0"
														step="1" />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">课程类型</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_classType" placeholder="暂无课程类型..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">课程性质</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_coursesNature" placeholder="暂无课程性质..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">考试方式</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_testWay" placeholder="暂无考试方式..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">课程属性</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_classQuality" placeholder="暂无课程属性..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">反馈意见</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_feedback" placeholder="暂无反馈意见..." />
												</div>
											</ul>
										</div>

										<div class="clear"></div>
										<div class="formtitle" style="margin-bottom: 6px;"><span>其它信息：</span></div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">期中成绩比例</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_midtermPrcent"
														   placeholder="暂无期中成绩比例..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">期末成绩比例</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_endtermPrcent"
														   placeholder="暂无期末成绩比例..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">是否新课</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_isNewClass" placeholder="暂无是否新课..." />
												</div>
											</ul>
										</div>
										<div class="clear"></div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">授课方式</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_calssWay" placeholder="暂无授课方式..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">是否校企合作</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_isSchoolBusiness" placeholder="暂无是否校企合作..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">精品课程等级</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_signatureCourseLevel" placeholder="暂无精品课程等级..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">是否核心课程</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_isKernelClass" placeholder="暂无是否核心课程..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">职业资格考证课程</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_isTextual" placeholder="暂无职业资格考证课程..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">是否课证融通</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_isCalssTextual" placeholder="暂无是否课证融通..." />
												</div>
											</ul>
										</div>

										<div class="col4 giveBottom">
											<ul class="forminfo">
												<div class="">
													<label class="selectName" style="margin-top: 14px;">教学改革立项课程</label>
													<input name="" type="text" class="myInput manyInfoInput"
														   id="majorTrainingDetails_isTeachingReform" placeholder="暂无教学改革立项课程..." />
												</div>
											</ul>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>

							<div id="tab2" class="tabson myTabson" style="padding-top:4px;">
								<div class="recordsInfoArea">
									<div class="singleRecordsArea" style="padding: 10px;"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>

					<div class="modal-footer tipbtn">
						<input name="" type="button" class="sure confirmModifyBtn" value="确定"/>&nbsp;
						<input name="" type="button" class="cancel" value="取消"/>
					</div>
				</div>
			</div>
		</div>

		<!-- 提示Modal -->
		<div class="modal fade bs-example-modal-lg" id="remindModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="tiptop"><span class="moadalTitle">提示信息</span><a class="cancel" shape="rect"></a></div>
					</div>
					<div class="modal-body">
						<div class="tipinfo">
							<span><img src="images/ticon.png" /></span>
							<div class="tipright">
								<p>
									是否确认对<a class="remindType"></a>的<a class="remindActionType"></a>？
								</p>
								<cite>如果是请点击确定按钮 ，否则请点取消。</cite>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="modal-footer tipbtn">
						<input name="" type="button" class="sure confirmRemind" value="确定"/>&nbsp;
						<input name="" type="button" class="cancel" value="取消"/>
					</div>
				</div>
			</div>
		</div>

		<!-- ajax请求masking -->
		<div class="modal-backdrop fade loadingMasking noneStart">
			<div class="spinner-box">
				<div class="pulse-container">
					<div class="pulse-bubble pulse-bubble-1"></div>
					<div class="pulse-bubble pulse-bubble-2"></div>
					<div class="pulse-bubble pulse-bubble-3"></div>
				</div>
				<div class="loadingtxt">数据加载中，请稍后...</div>
			</div>
		</div>

			<script type="text/javascript">
				$("#usual1 ul").idTabs();
			</script>
	</body>
</html>
