<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>顶部</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/icon.css" rel="stylesheet" type="text/css" />
		<link href="css/useful2.css" rel="stylesheet" type="text/css" />
		<link href="css/select-mania.css" rel="stylesheet" type="text/css" />
		<script language="JavaScript" src="sripts/jquery.min.js"></script>
		<script src="sripts/jquerySession.js"></script>
		<script src="sripts/select-mania.js" type="text/javascript"></script>
		<script src="js/implement.js" type="text/javascript"></script>
		<script src="js/top.js" type="text/javascript"></script>
	</head>

	<body style="background:url(img/topbg.gif) repeat-x;">
		<div class="topleft">
			<a href="main.html" target="_parent"><img src="img/logo1.png" title="辽宁职业学院高职扩招管理平台-首页" /></a>
		</div>

		<ul class="nav">
			<li><a href="index.html" target="rightFrame"><img src="images/ico01.png" title="首页" />
				<h2>首页</h2>
			</a></li>
			<li><a href="LargeScreen.html" target="-_blank"><img src="images/icon02.png" title="大数据展示" />
					<h2>大数据展示</h2>
				</a></li>
			<!-- <li><a href="right.html"target="rightFrame" class=" "><img src="images/icon01.png" title="通讯录"/><h2>通讯录</h2></a></li> -->
			<li><a href="releaseNews.html" target="rightFrame" class=" "><img src="images/notice.png" title="发布通知" style="width: 56px;height: 45px;margin-top: 5px;"/>
					<h2>发布通知</h2>
				</a></li>
<!--			<li><a href="accountSetup.html" target="rightFrame"><img src="images/icon06.png" title="账号设置" />-->
<!--					<h2>账号设置</h2>-->
<!--				</a></li>-->
		</ul>

		<div class="topright">
			<ul>
				<li class="changeRCurrentRole"><a></a><i class="iconfont icon-qiehuan endIcon"></i><a>-切换</a></li>
				<div class="canChooseRoleArea noneStart">
					<div class="canChooseRoles"></div>
				</div>
				<div class="arrow-right noneStart">
					<!--向右的三角-->
				</div>
			    <li><a href="accountSetup.html" target="rightFrame"><i class="iconfont icon-shezhi endIcon"></i>账号设置</a></li>
				<li><a href="login.html" target="_parent"><i class="iconfont icon-tuichu endIcon"></i>退出</a></li>
			</ul>

			<div class="user">
				<span userId="" class="userName"></span>
<!--				<i>消息</i>-->
<!--				<b>0</b>-->
			</div>
		</div>
		<div class="modal-backdrop fade maskingElement noneStart"></div>
	</body>
</html>
